body {
	color: black;
	background: lavender;
	font-family: sans-serif;
}

body > header {
	font-size: 1.2rem;
}

body > footer {
	padding: 1.2rem 0;
	text-align: center;
	font-size: 0.9rem;
}

a:hover, .logo > a:hover {
	color: blue;
	text-decoration: underline;
}

.footnotes hr {
	display: inline-block;
	border-width: 1px 0 0;
	border-style: dotted;
	width: 30%;
}

.footnotes ol {
	font-size: 0.8em;
	margin: 0 0 1rem 0;
	padding-left: 1em;
}

.footnotes ol > li > p {
	margin: 0;
}

nav {
	font-size: 1.1rem;
	vertical-align: baseline;
	display: inline;
}

nav a {
	color: black;
	text-decoration: none;
}

.logo a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0 0 1rem 0;
	line-height: 1;
}

h1 > a {
	color: black;
	text-decoration: none;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
}

article {
	line-height: 1.5;
	hyphens: auto;
}

article pre {
	hyphens: none;
	background-color: white;
}

article a {
	text-decoration: none;
}

article sup {
	margin: 0 0.2rem;
}

article > header {
	margin: 0 0 1rem 0;
	border-bottom: 1px solid #00000010;
}

article > footer {
	margin-bottom: 3rem;
	color: #555;
}

article > footer ol {
	padding: 0;
}

article > footer li {
	margin-left: 2rem;
	list-style-type: none;
}

@media (max-width: 52em) {
	body {
		margin: 0;
		padding: 0 1rem;
	}
	header {
		margin: 1rem 0;
	}
	nav {
		margin: 0 auto 3rem;
		line-height: 2;
	}
	.logo {
		margin-bottom: 1rem;
	}
	nav a:not(:last-child) {
		margin-right: 3rem;
	}
	article div.sourceCode {
		margin: 0 -1rem;
	}
	article pre {
		padding: 0.5rem 1rem;
		margin: 0 -1rem;
	}
}

@media (min-width: 52em) {
	body {
		width: 50rem;
		margin: 0 auto;
		padding: 0;
	}
	body > header {
		margin: 0 0 2rem 0;
		padding: 1.2rem 0;
	}
	nav {
		margin: 0;
		text-align: right;
	}
	nav a {
		margin: 0 0 0 3rem;
		display: inline;
	}
	div.logo {
		display: inline;
	}
	article pre {
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
	article > footer li {
		display: inline;
	}
}

